<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>opencover,cobertura</Format>
          <Exclude>[*.Tests]*,[xunit*]*,[*.AssemblyInfo]*</Exclude>
          <Include>[VoiceLite]*</Include>
          <ExcludeByFile>**/obj/**,**/bin/**,**/*.g.cs,**/*.Designer.cs</ExcludeByFile>
          <ExcludeByAttribute>Obsolete,GeneratedCode,ExcludeFromCodeCoverage</ExcludeByAttribute>
          <SingleHit>false</SingleHit>
          <UseSourceLink>true</UseSourceLink>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <SkipAutoProps>true</SkipAutoProps>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>